{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "styles.ts",
      "options": {
        "jsxBracketSameLine": true
      }
    }
  ]
}
